<%- include('../partials/adminHeader') %>

    <body class="dark">
        <div class="screen-overlay"></div>
        <aside class="navbar-aside" id="offcanvas_aside">
            <div class="aside-top">
                <a href="/admin" class="brand-wrap">
                    <div class="logo">
                        <span>M</span>
                        <span>E</span>
                        <span>E</span>
                        <span>'</span>
                        <span>H</span>
                        <span>A</span>
                        <span>F</span>
                    </div>

                </a>
                <div>
                    <button class="btn btn-icon btn-aside-minimize"><i
                            class="text-muted material-icons md-menu_open"></i></button>
                </div>
            </div>


            <!-- INCLUDING ADMIN NAV BAR -->
            <%- include('../partials/adminNavbar') %>


        </aside>
        <main class="main-wrap">
            <header class="main-header navbar">
                <div class="col-search">
                    <form class="searchform">
                        <div class="input-group">
                            <input list="search_terms" type="text" class="form-control" placeholder="Search term" />
                            <button class="btn btn-light bg" type="button"><i
                                    class="material-icons md-search"></i></button>
                        </div>
                        <datalist id="search_terms">
                            <option value="Products"></option>
                            <option value="New orders"></option>
                            <option value="Apple iphone"></option>
                            <option value="Ahmed Hassan"></option>
                        </datalist>
                    </form>
                </div>
                <div class="col-nav">
                    <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"><i
                            class="material-icons md-apps"></i></button>
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link btn-icon" href="#">
                                <i class="material-icons md-notifications animation-shake"></i>
                                <span class="badge rounded-pill">3</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="requestfullscreen nav-link btn-icon"><i
                                    class="material-icons md-cast"></i></a>
                        </li>
                        <li class="dropdown nav-item">
                            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage"
                                aria-expanded="false"><i class="material-icons md-public"></i></a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                                <a class="dropdown-item text-brand" href="#"><img src="assets/imgs/theme/flag-us.png"
                                        alt="English" />English</a>
                                <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-fr.png"
                                        alt="Français" />Français</a>
                                <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-jp.png"
                                        alt="Français" />日本語</a>
                                <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-cn.png"
                                        alt="Français" />中国人</a>
                            </div>
                        </li>
                        <li class="dropdown nav-item">
                            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount"
                                aria-expanded="false"> <img class="img-xs rounded-circle"
                                    src="assets/imgs/people/avatar-2.png" alt="User" /></a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                                <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit
                                    Profile</a>
                                <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account
                                    Settings</a>
                                <a class="dropdown-item" href="#"><i
                                        class="material-icons md-account_balance_wallet"></i>Wallet</a>
                                <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                                <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help
                                    center</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-danger" href="#"><i
                                        class="material-icons md-exit_to_app"></i>Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </header>
            <section class="content-main">
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">Categories</h2>
                        <p>Add, edit or delete a category</p>
                    </div>
                    <div>
                        <input type="text" placeholder="Search Categories" class="form-control bg-white" />
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <form action="" method="post">
                                    <div class="mb-4">

                                        <% if (typeof message !=='undefined' ) { %>
                                            <p class="text-danger">
                                                <%= message %>
                                            </p>
                                            <% } %>

                                                <label for="product_name" class="form-label">Name</label>
                                                <input type="text" placeholder="Type here" class="form-control"
                                                    id="product_name" name="name" required />
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Description</label>
                                        <textarea placeholder="Type here" class="form-control" name="description"
                                            required></textarea>
                                    </div>
                                    <div class="d-grid">
                                        <button class="btn btn-primary" type="submit">Create category</button>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-9">
                                <div class="table">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Name</th>
                                                <th>Description</th>
                                                <th>Status</th>
                                                <th class="text-end">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% item.forEach((element, index) => { %>
                                                <tr>
                                                    <td>
                                                        <%= index + 1 %>
                                                    </td>
                                                    <td><b>
                                                            <%= element.name %>
                                                        </b></td>
                                                    <td>
                                                        <%= element.description %>
                                                    </td>
                                                
                                                    <% if (element.status) { %>
                                                    <td><span class="badge rounded-pill badge-soft-success"
                                                            id="active-<%= element.id %>">Active</span></td>
                                                    <% } else { %>
                                                    <td><span class="badge rounded-pill badge-soft-danger"
                                                            id="active-<%= element.id %>">Inactive</span></td>
                                                    <% } %>
                                                
                                                    <td class="text-end">
                                                        <div class="btn-group" role="group">
                                                            <a href="/admin/editCategory?id=<%= element.id %>">
                                                                <button class="btn btn-sm" style="background-color: #3BB77E; width: 99%;">
                                                                    <i class="material-icons md-edit"></i> Edit
                                                                </button>
                                                            </a>
                                                
                                                            <form action="" method="post" onsubmit="event.preventDefault(); categoryBlock('<%= element.id %>');"
                                                                style="width: 99%; display:inline; margin-left: 5px; margin-right: 5px;">
                                                                <button type="submit"
                                                                    class="btn btn-sm <%= element.status ? 'btn-danger' : 'btn-brand' %>"
                                                                    style="width: 99%;" id="categoryBlock-<%= element.id %>">
                                                                    <i class="material-icons md-List"></i>
                                                                    <%= element.status ? 'UnList' : 'List' %>
                                                                </button>
                                                            </form>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <% }) %>
                                                
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <!-- .col// -->
                        </div>
                        <!-- .row // -->
                    </div>
                    <!-- card body .// -->
                </div>



                <script>
                    function categoryBlock(categoryId) {
                        console.log(categoryId)
                        Swal.fire({
                            title: "Do you want to save the changes?",
                            showCancelButton: true,
                            confirmButtonText: 'Yes',
                            customClass: {
                                title: 'swal2-title',
                                htmlContainer: 'swal2-html-container'
                            }
                        }).then((result) => {
                            if (result.isConfirmed) {
                                axios.post(`/admin/categoryBlock?id=${categoryId}`)
                                    .then((response) => {
                                        if (response.data.success == 1) {
                                            const button = document.getElementById(`categoryBlock-${categoryId}`);
                                            const active = document.getElementById(`active-${categoryId}`);
                
                                            if (button.classList.contains('btn-danger')) {
                                                button.classList.remove('btn-danger');
                                                button.classList.add('btn-brand');
                                                button.innerHTML = '<i class="material-icons md-List"></i> List';
                
                                                active.classList.remove('badge-soft-success');
                                                active.classList.add('badge-soft-danger');
                                                active.innerHTML = 'Inactive';
                
                                            } else {
                                                button.classList.remove('btn-brand');
                                                button.classList.add('btn-danger');
                                                button.innerHTML = '<i class="material-icons md-List"></i> UnList';
                
                                                active.classList.remove('badge-soft-danger');
                                                active.classList.add('badge-soft-success');
                                                active.innerHTML = 'Active';
                                            }
                                        }
                                    })
                                    .catch((error) => {
                                        console.log(error)
                                    })
                                Swal.fire("Succeeded!", "", "success")
                            } else if (result.isDenied) {
                                Swal.fire("Changes are not saved", "", "info");
                            }
                        });
                    }
                </script>
                

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


                <!-- card .// -->
            </section>
            <!-- content-main end// -->








            <%- include('../partials/adminFooter') %>