<!DOCTYPE html>
<html lang="en">


<!-- molla/cart.html  22 Nov 2019 09:55:06 GMT -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Molla - Bootstrap eCommerce Template</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/user/assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/user/assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/user/assets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/user/assets/images/icons/site.html">
    <link rel="mask-icon" href="/user/assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="/user/assets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="/user/assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/user/assets/css/bootstrap.min.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/user/assets/css/style.css">


    <style>
        .cart-product-quantity {
            display: flex;
            align-items: center;
        }

        .stylish-btn {
            background-color: #f0f0f0;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 5px 10px;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .stylish-btn:hover {
            background-color: #e0e0e0;
        }

        .stylish-btn:active {
            background-color: #d0d0d0;
        }

        .quantity-display {
            margin: 0 10px;
            font-size: 16px;
            min-width: 30px;
            text-align: center;
        }

        /* Dropdown content (hidden by default) */
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }

        /* Links inside the dropdown */
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {
            background-color: #f1f1f1;
        }
    </style>



</head>

<body>
    <div class="page-wrapper">
        <header class="header">

            <div class="header-middle sticky-header">
                <div class="container">
                    <div class="header-left">

                        <a href="/" class="logo">
                            <img src="/user/assets/images/logo.png" alt="Molla Logo" width="105" height="25">
                        </a>

                        <nav class="main-nav">
                            <ul class="menu sf-arrows">
                                <li class="megamenu-container active">
                                    <a href="/">Home</a>


                                </li>
                                <li>
                                    <a href="/shop">Shop</a>


                                </li>

                                <li>
                                    <a href="/cart">Cart</a>
                                </li>
                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->
                    </div><!-- End .header-left -->

                    <div class="header-right">
                        <div class="header-search">
                            <a href="#" class="search-toggle" role="button" title="Search"><i
                                    class="icon-search"></i></a>
                            <form action="#" method="get">
                                <div class="header-search-wrapper">
                                    <label for="q" class="sr-only">Search</label>
                                    <input type="search" class="form-control" name="q" id="q" placeholder="Search in..."
                                        required>
                                </div><!-- End .header-search-wrapper -->
                            </form>
                        </div><!-- End .header-search -->

                        <div class=" cart-dropdown">
                            <a href="/cart" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false"
                                data-display="static">
                                <i class="icon-shopping-cart"></i>
                                <span class="cart-count">0</span>
                            </a>
                        </div><!-- End .cart-dropdown -->

                        <!-- ACCOUNTICON -->
                        <div class="account" style="padding-left: 6px; margin-left: 4px;">
                            <a href="#" id="accountLink" title="Account">
                                <i class="icon-user" style="font-size: large;"></i> ACCOUNT
                            </a>
                            <div id="dropdownMenu" class="dropdown-content" style="display: none;">
                                <a href="/userProfile" id="profileLink" style="display: none;">User
                                    Profile</a>
                                <a href="/login" id="loginLink" style="display: none;">Login</a>
                                <a href="/logout" id="logoutLink" style="display: none;">Logout</a>
                            </div>
                        </div>

                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-middle -->
        </header><!-- End .header -->

        <main class="main">
            <div class="page-header text-center" style="background-image: url('/user/assets/images/page-header-bg.jpg')">
                <div class="container">
                    <h1 class="page-title">Shopping Cart<span>Shop</span></h1>
                </div>
            </div>
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="/shop">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Shopping Cart</li>
                    </ol>
                </div>
            </nav>
            <div class="page-content">
                <div class="cart">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-9">
                                <table class="table table-cart table-mobile">
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Price</th>
                                            <th>Quantity</th>
                                            <th>Total</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if (cartData.Products.length === 0) { %>
                                            <tr>
                                                <td colspan="5" style="text-align: center;">Your cart is empty</td>
                                            </tr>
                                        <% } else { %>
                                            <% cartData.Products.forEach(element => { %>
                                                <tr id="product-row-<%= element.Product._id %>">
                                                    <td class="product-col">
                                                        <div class="product">
                                                            <figure class="product-media">
                                                                <a href="#">
                                                                    <img src="/public/productImage/<%= element.Product.image[0] %>" alt="Product image">
                                                                </a>
                                                            </figure>
                                                            <h3 class="product-title">
                                                                <a href="#"><%= element.Product.name %></a>
                                                            </h3>
                                                        </div>
                                                    </td>

                                                    <% if (element.Product.offer > 0) { %>
                                                        <td class="price-col" id="price-<%= element.Product._id %>" style="font-family: sans-serif;">₹ <%= element.Product.offer %></td>
                                                        <td class="quantity-col">
                                                            <div class="cart-product-quantity">
                                                                <button class="btn-decrement stylish-btn"
                                                                    data-product-id="<%= element.Product._id %>"
                                                                    onclick="decreamentStock(event, '<%= element.Product._id %>')"
                                                                    data-product-price="<%= element.Product.offer %>">-</button>
                                                                <span id="quantity-<%= element.Product._id %>" class="quantity-display">
                                                                    <%= element.quantity %>
                                                                </span>
                                                                <button class="btn-increment stylish-btn"
                                                                    data-product-id="<%= element.Product._id %>"
                                                                    onclick="increamentStock(event, '<%= element.Product._id %>')"
                                                                    data-product-price="<%= element.Product.offer %>">+</button>
                                                            </div>
                                                        </td>
                                                        <td class="total-col" id="total-<%= element.Product._id %>" style="font-family: sans-serif;">₹ <%= element.Product.offer * element.quantity %></td>  

                                                        <% } else { %>

                                                            <td class="price-col" id="price-<%= element.Product._id %>" style="font-family: sans-serif;">₹ <%= element.Product.price %></td>
                                                            <td class="quantity-col">
                                                                <div class="cart-product-quantity">
                                                                    <button class="btn-decrement stylish-btn"
                                                                        data-product-id="<%= element.Product._id %>"
                                                                        onclick="decreamentStock(event, '<%= element.Product._id %>')"
                                                                        data-product-price="<%= element.Product.price %>">-</button>
                                                                    <span id="quantity-<%= element.Product._id %>" class="quantity-display">
                                                                        <%= element.quantity %>
                                                                    </span>
                                                                    <button class="btn-increment stylish-btn"
                                                                        data-product-id="<%= element.Product._id %>"
                                                                        onclick="increamentStock(event, '<%= element.Product._id %>')"
                                                                        data-product-price="<%= element.Product.price %>">+</button>
                                                                </div>
                                                            </td>
                                                            <td class="total-col" id="total-<%= element.Product._id %>" style="font-family: sans-serif;">₹ <%= element.Product.price * element.quantity %></td>
                                                         
                                                    <% } %>

                                                    
                                                    
                                                    
                                                    
                                                    <td class="remove-col">
                                                        <button class="btn-remove" onclick="removeProduct('<%= element.Product._id %>')">
                                                            <i class="icon-close"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            <% }) %>
                                        <% } %>
                                    </tbody>
                                </table>
                                <div class="cart-bottom">
                                    <a href="#" class="btn btn-outline-dark-2"><span>UPDATE CART</span><i class="icon-refresh"></i></a>
                                </div>
                            </div>
                            <% if (cartData.Products.length === 0) { %>
                                <aside class="col-lg-3">
                                    <div class="summary summary-cart">
                                        <h3 class="summary-title">Cart Total</h3>
                                        <table class="table table-summary">
                                            <tbody>
                                                <tr class="summary-subtotal">
                                                    <td>Subtotal:</td>
                                                    <td id="subtotal" style="font-family: sans-serif;">₹ 0</td>
                                                </tr>
                                                <tr class="summary-total">
                                                    <td>Total:</td>
                                                    <td id="total" style="font-family: sans-serif;">₹ 0</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <a href="/shop" class="btn btn-outline-primary-2 btn-order btn-block">ADD SOMETHING TO THE CART</a>
                                    </div>
                                    <a href="/shop" class="btn btn-outline-dark-2 btn-block mb-3"><span>CONTINUE SHOPPING</span><i class="icon-refresh"></i></a>
                                </aside>
                            <% } else { %>
                                <aside class="col-lg-3">
                                    <div class="summary summary-cart">
                                        <h3 class="summary-title">Cart Total</h3>
                                        <table class="table table-summary">
                                            <tbody>
                                               
                                                <tr class="summary-subtotal">
                                                    <td>Subtotal:</td>
                                                    <td id="subtotal" style="font-family: sans-serif;">₹ 
                                                        <%= cartData.Products.reduce((sum, product) => {
                                                            let price;
                                                            if (product.Product.offer > 0) {
                                                                price = product.Product.offer;
                                                            } else {
                                                                price = product.Product.price;
                                                            }
                                                            return sum + price * product.quantity;
                                                        }, 0) %>
                                                    </td>
                                                </tr>
                                                <tr class="summary-total">
                                                    <td>Total:</td>
                                                    <td id="total" style="font-family: sans-serif;">₹ 
                                                        <%= cartData.Products.reduce((sum, product) => {
                                                            let price;
                                                            if (product.Product.offer > 0) {
                                                                price = product.Product.offer;
                                                            } else {
                                                                price = product.Product.price;
                                                            }
                                                            return sum + price * product.quantity;
                                                        }, 0) %>
                                                    </td>
                                                </tr>
                                                
                                            </tbody>
                                        </table>
                                        <a href="/checkout" class="btn btn-outline-primary-2 btn-order btn-block">PROCEED TO CHECKOUT</a>
                                    </div>
                                    <a href="/shop" class="btn btn-outline-dark-2 btn-block mb-3"><span>CONTINUE SHOPPING</span><i class="icon-refresh"></i></a>
                                </aside>
                            <% } %>
                        </div>
                        <% if (totalPages > 1) { %>
                            <nav aria-label="Page navigation">
                                <ul class="pagination justify-content-center">
                                    <% for (let i = 1; i <= totalPages; i++) { %>
                                        <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                                            <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                                        </li>
                                    <% } %>
                                </ul>
                            </nav>
                        <% } %>
                    </div>
                </div>
            </div>
        </main>
        
        

        <footer class="footer">
            <div class="footer-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-lg-3">
                            <div class="widget widget-about">
                                <img src="/user/assets/images/logo.png" class="footer-logo" alt="Footer Logo"
                                    width="105" height="25">
                                <p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate
                                    magna eros eu erat. </p>

                                <div class="social-icons">
                                    <a href="#" class="social-icon" target="_blank" title="Facebook"><i
                                            class="icon-facebook-f"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Twitter"><i
                                            class="icon-twitter"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Instagram"><i
                                            class="icon-instagram"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Youtube"><i
                                            class="icon-youtube"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Pinterest"><i
                                            class="icon-pinterest"></i></a>
                                </div><!-- End .soial-icons -->
                            </div><!-- End .widget about-widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="about.html">About Molla</a></li>
                                    <li><a href="#">How to shop on Molla</a></li>
                                    <li><a href="#">FAQ</a></li>
                                    <li><a href="contact.html">Contact us</a></li>
                                    <li><a href="login.html">Log in</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="#">Payment Methods</a></li>
                                    <li><a href="#">Money-back guarantee!</a></li>
                                    <li><a href="#">Returns</a></li>
                                    <li><a href="#">Shipping</a></li>
                                    <li><a href="#">Terms and conditions</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="#">Sign In</a></li>
                                    <li><a href="cart.html">View Cart</a></li>
                                    <li><a href="#">My Wishlist</a></li>
                                    <li><a href="#">Track My Order</a></li>
                                    <li><a href="#">Help</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .footer-middle -->

            <div class="footer-bottom">
                <div class="container">
                    <p class="footer-copyright">Copyright © 2019 Molla Store. All Rights Reserved.</p>
                    <!-- End .footer-copyright -->
                    <figure class="footer-payments">
                        <img src="/user/assets/images/payments.png" alt="Payment methods" width="272" height="20">
                    </figure><!-- End .footer-payments -->
                </div><!-- End .container -->
            </div><!-- End .footer-bottom -->
        </footer><!-- End .footer -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    


    <!-- Plugins JS File -->
    <script src="/user/assets/js/jquery.min.js"></script>
    <script src="/user/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/user/assets/js/jquery.hoverIntent.min.js"></script>
    <script src="/user/assets/js/jquery.waypoints.min.js"></script>
    <script src="/user/assets/js/superfish.min.js"></script>
    <script src="/user/assets/js/owl.carousel.min.js"></script>
    <script src="/user/assets/js/bootstrap-input-spinner.js"></script>
    <!-- Main JS File -->
    <script src="/user/assets/js/main.js"></script>
</body>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    // Function to check if the user is logged in
	function isLoggedIn() {
		// This is a placeholder. Replace it with actual logic to check user login status.
		return true; // For example purposes, we assume the user is logged in.
	}

	document.addEventListener("DOMContentLoaded", function () {
		var accountLink = document.getElementById("accountLink");
		var dropdownMenu = document.getElementById("dropdownMenu");
		var profileLink = document.getElementById("profileLink");
		var loginLink = document.getElementById("loginLink");
		var logoutLink = document.getElementById("logoutLink");

		// Check if the user is logged in
		if (isLoggedIn()) {
			profileLink.style.display = "block";
			logoutLink.style.display = "block";
			loginLink.style.display = "none";

			// Show the dropdown menu on account link click
			accountLink.addEventListener("click", function (event) {
				event.preventDefault();
				dropdownMenu.style.display = dropdownMenu.style.display === "none" ? "block" : "none";
			});
		} else {
			loginLink.style.display = "block";
			profileLink.style.display = "none";
			logoutLink.style.display = "none";

			// Direct to login page on account link click
			accountLink.href = "/login";
		}

		// Hide the dropdown menu if clicked outside
		window.addEventListener("click", function (event) {
			if (!event.target.matches('#accountLink')) {
				if (dropdownMenu.style.display === "block") {
					dropdownMenu.style.display = "none";
				}
			}
		});
	});
   

    function removeProduct(productId) {
        fetch('/removeCart', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ productId: productId })
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    document.querySelector(`button[onclick="removeProduct('${productId}')"]`).closest('tr').remove();
                    updateSubtotal();
                }
                window.location.reload()
            })
            .catch(error => console.error('Error:', error));
    }




    //INCREAMENTING STOCK 
    function increamentStock(event , productId){
        event.preventDefault()
        let currentStock = document.getElementById(`quantity-${productId}`)
        
        const stock = Number(currentStock.innerText);
        
        const stockDetails  = {
            productId: productId,
            stock: stock + 1
        }

        fetch('/increament', {
            method: 'POST',
            headers:{
                'Content-Type' : 'application/json'
            },
            body: JSON.stringify(stockDetails)
        })
        .then(response => response.json())
        .then(data => {
            if(data.stock){
                currentStock.innerText = data.stock
                const total = document.getElementById(`total-${productId}`).innerText = `₹ ${data.total}`
                fetch('/subTotalChange', {
            method:'POST',
            headers:{
                'Content-Type' : 'application/json'
            }
        })
        .then(response => response.json())
        .then(data => {
            const productData = data.productData
            let subtotal = 0
            productData.forEach(element => {
                subtotal += element.Product.price * element.quantity
            });
            document.getElementById('subtotal').innerText = `₹${subtotal}`;
            document.getElementById('total').innerText = `₹${subtotal}`
            window.location.reload()
        })
        .catch(error => {
            console.log(error)
        })
            }else if(data.error  == 1){
                Swal.fire({
					title: "Out of Stock",
					text: "This product is out of stock.",
					icon: "error"
				});
            }else if(data.error == 2){
                Swal.fire({
					title: "Reached Maximum Product",
					text: "Yoou reached maximum quantity of the product.",
					icon: "error"
				});
            }
        })
        .catch(error => {
            console.log(error)
        })
        
    }




    //DECREAMENTING STOCK
    function decreamentStock(event, productId){
        event.preventDefault();
        let currentStock = document.getElementById(`quantity-${productId}`);

        const stock = Number(currentStock.innerText);

        if(stock <= 1 ){
            return 
        }

        const stockDetails = {
            productId:productId,
            stock: stock - 1 
        }

        fetch('/decrement', {
            method: 'POST',
            headers:{
                'Content-Type' : 'application/json'
            },
            body: JSON.stringify(stockDetails)
        })
        .then(response => response.json())
        .then(data => {
            if(data.stock){
                currentStock.innerText = data.stock
                const total = document.getElementById(`total-${productId}`).innerText = `₹ ${data.total}`
                fetch('/subTotalChange', {
            method:'POST',
            headers:{
                'Content-Type' : 'application/json'
            }
        })
        .then(response => response.json())
        .then(data => {
            const productData = data.productData
            let subtotal = 0
            productData.forEach(element => {
                subtotal += element.Product.price * element.quantity
            });
            document.getElementById('subtotal').innerText = `₹${subtotal}`;
            document.getElementById('total').innerText = `₹${subtotal}`;
            window.location.reload()
        })
        .catch(error => {
            console.log(error)
        })
            }
        })
        .catch(error => {
            console.log(error)
        })
    }





    //SUBTOTAL
    document.addEventListener('DOMContentLoaded', () => {
    fetch('/subTotalChange', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        }
    })
    .then(response => response.json())
    .then(data => {
        const productData = data.productData;
        let subtotal = 0;
        productData.forEach(element => {
            let price;
            if (element.Product.offer > 0) {
                price = element.Product.offer;
            } else {
                price = element.Product.price;
            }
            subtotal += price * element.quantity;
        });
        document.getElementById('subtotal').innerText = `₹${subtotal}`;
        document.getElementById('total').innerText = `₹${subtotal}`;
    })
    .catch(error => {
        console.log(error);
    });
});







   



   
</script>


<!-- molla/cart.html  22 Nov 2019 09:55:06 GMT -->

</html>