<!DOCTYPE html>
<html lang="en">


<!-- molla/checkout.html  22 Nov 2019 09:55:06 GMT -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Molla - Bootstrap eCommerce Template</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/user/assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/user/assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/user/assets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/user/assets/images/icons/site.html">
    <link rel="mask-icon" href="/user/assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="/user/assets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="/user/assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/user/assets/css/bootstrap.min.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/user/assets/css/style.css">



    <style>
        /* Custom styles for the checkout page */
        .main .account-address {
            background-color: #f8f9fa;
            padding: 15px;
            border-radius: 5px;
            margin-bottom: 15px;
            border: 1px solid #e9ecef;
        }

        .main .account-title {
            color: #333;
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .main .address-block {
            color: #666;
            line-height: 1.5;
        }

        .main .radio-container {
            margin-bottom: 10px;
        }

        /* Custom styles for the aside section */
        .aside .cart-discount,
        .aside .summary {
            margin-bottom: 30px;
        }

        .aside .cart-discount form {
            display: flex;
            flex-direction: column;
        }

        .aside .cart-discount .form-group {
            margin-bottom: 15px;
        }

        .aside .cart-discount .form-group.text-center {
            margin-bottom: 20px;
        }

        .aside .view-coupons {
            display: block;
            margin-bottom: 10px;
        }

        .aside .summary-title {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .aside .table-summary {
            margin-bottom: 20px;
        }

        .aside .table-summary th,
        .aside .table-summary td {
            font-size: 14px;
            color: #333;
            padding: 10px;
        }

        .aside .summary-subtotal td,
        .aside .summary-total td {
            font-size: 16px;
            font-weight: bold;
        }

        .aside .accordion-summary .card-header {
            padding: 10px 15px;
        }

        .aside .accordion-summary .card-title {
            font-size: 16px;
            font-weight: bold;
        }

        .aside .btn-order {
            margin-top: 20px;
        }


        /* Custom styles for the aside section */
        .aside .cart-discount,
        .aside .summary {
            margin-bottom: 30px;
        }

        .aside .cart-discount form {
            display: flex;
            flex-direction: column;
        }

        .aside .cart-discount .form-group {
            margin-bottom: 15px;
        }

        .aside .summary-title {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .aside .table-summary {
            margin-bottom: 20px;
        }

        .aside .table-summary th,
        .aside .table-summary td {
            font-size: 14px;
            color: #333;
            padding: 10px;
        }

        .aside .summary-subtotal td,
        .aside .summary-total td {
            font-size: 16px;
            font-weight: bold;
        }

        .aside .accordion-summary .card-header {
            padding: 10px 15px;
        }

        .aside .accordion-summary .card-title {
            font-size: 16px;
            font-weight: bold;
        }

        .aside .btn-order {
            margin-top: 20px;
        }

        /* Custom styles for the checkout page */
        .main .account-address {
            background-color: #f8f9fa;
            padding: 15px;
            border-radius: 5px;
            margin-bottom: 15px;
            border: 1px solid #e9ecef;
        }

        .main .account-title {
            color: #333;
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .main .address-block {
            color: #666;
            line-height: 1.5;
        }

        .main .radio-container {
            margin-bottom: 10px;
        }

        /* Custom styles for the aside section */
        .aside .cart-discount,
        .aside .summary {
            margin-bottom: 30px;
        }

        .aside .summary-title {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .aside .table-summary {
            margin-bottom: 20px;
        }

        .aside .table-summary th,
        .aside .table-summary td {
            font-size: 14px;
            color: #333;
            padding: 10px;
        }

        .aside .summary-subtotal td,
        .aside .summary-total td {
            font-size: 16px;
            font-weight: bold;
        }

        .aside .accordion-summary .card-header {
            padding: 10px 15px;
        }

        .aside .accordion-summary .card-title {
            font-size: 16px;
            font-weight: bold;
        }

        .aside .btn-order {
            margin-top: 20px;
        }

        .header-right {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }

        .header-search,
        .wishlist,
        .cart-dropdown,
        .login {
            margin-left: 15px;
        }

        .header-right a {
            display: flex;
            align-items: center;
            text-decoration: none;
            color: inherit;
        }

        .header-right .icon-user,
        .header-right .icon-heart-o {
            margin-right: 5px;
            font-size: large;
        }

        @media (max-width: 768px) {
            .header-right {
                flex-wrap: wrap;
                justify-content: center;
            }

            .header-search,
            .wishlist,
            .cart-dropdown,
            .login {
                margin-left: 10px;
                margin-right: 10px;
                margin-bottom: 10px;
            }

            .header-right .login a {
                font-size: 14px;
            }
        }

        @media (max-width: 480px) {
            .header-right .login a {
                font-size: 12px;
            }
        }

        /* Dropdown content (hidden by default) */
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }

        /* Links inside the dropdown */
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {
            background-color: #f1f1f1;
        }

        .account-address {
            background-color: #000000;
            /* Dark shade background */
            color: #ffffff;
            /* White text color */
            padding: 20px;
            border-radius: 5px;
            position: relative;
        }

        .account-address .account-title {
            margin-left: 30px;
            /* Adjust title position */
        }

        .radio-container {
            position: absolute;
            top: 20px;
            left: 20px;
        }

        .btn-primary,
        .btn-danger {
            margin-top: 10px;
        }

        .btn-primary:hover,
        .btn-danger:hover {
            color: #ffffff;
        }
    </style>
</head>

<body>
    <div class="page-wrapper">
        <header class="header">


            <div class="header-middle sticky-header">
                <div class="container">
                    <div class="header-left">


                        <a href="/" class="logo">
                            <img src="/user/assets/images/logo.png" alt="Molla Logo" width="105" height="25">
                        </a>

                        <nav class="main-nav">
                            <ul class="menu sf-arrows">
                                <li class="megamenu-container active">
                                    <a href="/" class="">Home</a>

                                </li>

                                <li>
                                    <a href="/shop" class="">Shop</a>
                                </li>

                                <li>
                                    <a href="/cart" class="">Cart</a>


                                </li>

                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->
                    </div><!-- End .header-left -->

                    <div class=" header-right">
                        <div class="header-search">
                            <a href="#" class="search-toggle" role="button" title="Search"><i
                                    class="icon-search"></i></a>
                            <form action="#" method="get">
                                <div class="header-search-wrapper">
                                    <label for="q" class="sr-only">Search</label>
                                    <input type="search" class="form-control" name="q" id="q" placeholder="Search in..."
                                        required>
                                </div><!-- End .header-search-wrapper -->
                            </form>
                        </div><!-- End .header-search -->

                        <div class="wishlist">
                            <a href="wishlist.html" title="Wishlist">
                                <i class="icon-heart-o" style="font-size:large;"></i>
                                <span class="wishlist-count">3</span>
                            </a>
                        </div><!-- End .wishlist -->

                        <div class=" cart-dropdown">
                            <a href="/cart" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false"
                                data-display="static">
                                <i class="icon-shopping-cart"></i>
                                <span class="cart-count">0</span>
                            </a>


                        </div><!-- End .cart-dropdown -->

                        <!-- New login section -->
                        <!-- <div class="login" style="padding-left: 6px; margin-left: 4px;">
            <a href="/login" title="Login">
                <i class="icon-user" style="font-size:large;"></i> LOGIN
            </a>
        </div> -->
                        <!-- End .login -->

                        <!-- ACCOUNTICON -->
                        <div class="account" style="padding-left: 6px; margin-left: 4px;">
                            <a href="#" id="accountLink" title="Account">
                                <i class="icon-user" style="font-size: large;"></i> ACCOUNT
                            </a>
                            <div id="dropdownMenu" class="dropdown-content" style="display: none;">
                                <a href="/userProfile" id="profileLink" style="display: none;">User
                                    Profile</a>
                                <a href="/login" id="loginLink" style="display: none;">Login</a>
                                <a href="/logout" id="logoutLink" style="display: none;">Logout</a>
                            </div>
                        </div>







                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-middle -->
        </header><!-- End .header -->

        <main class="main">
            
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="/shop">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="checkout">
                    <div class="container">
                        <form action="#">
                            <div class="row">
                                <div class="col-lg-9">
                                    <h2 class="checkout-title">Billing Details</h2><!-- End .checkout-title -->
                                    <div class="row">
                                        <% addresses.forEach((element , index)=> { %>
                                            <div class="col-md-4 mb-1">
                                                <div class="account-address" id="address-">
                                                    <div class="radio-container">
                                                        <input type="radio" name="address" value="<%= element._id %>"
                                                            id="radio-address" <%=index==0 ? 'checked' : '' %> >
                                                    </div>
                                                    <h6 class="account-title">Billing address</h6>
                                                    <p class="address-block">
                                                        <%= element.name %><br>
                                                            <%= element.address %><br>
                                                                <%= element.city %>, <%= element.state %><br>
                                                                        <%= element.mobile %>
                                                    </p>
                                                </div>
                                            </div>
                                            <% }) %>
                                    </div>

                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="checkout-diff-address">
                                        <label class="custom-control-label" for="checkout-diff-address">Ship to a
                                            different address?</label>
                                    </div><!-- End .custom-checkbox -->

                                    <div id="different-address-form" style="display: none;">
                                        <div class="row">
                                            <div class="col-lg-9">
                                                <label>Name </label>
                                                <input type="text" class="form-control" id="name" required>
                                                <div class="error-message" id="nameError"
                                                    style="color: red; display: none;">Invalid name. No numbers or
                                                    spaces allowed.</div>
                                            </div><!-- End .col-sm-6 -->
                                        </div><!-- End .row -->

                                        <label>Address </label>
                                        <input type="text" class="form-control" id="address"
                                            placeholder="House number and Street name" required>
                                        <div class="error-message" id="addressError" style="color: red; display: none;">
                                            Invalid address. No numbers or spaces allowed.</div>

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label>Town / City </label>
                                                <input type="text" id="city" class="form-control" required>
                                                <div class="error-message" id="cityError"
                                                    style="color: red; display: none;">Invalid city. No numbers or
                                                    spaces allowed.</div>
                                            </div><!-- End .col-sm-6 -->

                                            <div class="col-sm-6">
                                                <label>State </label>
                                                <input type="text" id="state" class="form-control" required>
                                                <div class="error-message" id="stateError"
                                                    style="color: red; display: none;">Invalid state. No numbers or
                                                    spaces allowed.</div>
                                            </div><!-- End .col-sm-6 -->
                                        </div><!-- End .row -->

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label>Postcode / ZIP *</label>
                                                <input type="text" id="pincode" class="form-control" required>
                                                <div class="error-message" id="pincodeError"
                                                    style="color: red; display: none;">Invalid pincode. Must be 6
                                                    digits.</div>
                                            </div><!-- End .col-sm-6 -->

                                            <div class="col-sm-6">
                                                <label>Phone *</label>
                                                <input type="tel" id="mobile" class="form-control" required>
                                                <div class="error-message" id="mobileError"
                                                    style="color: red; display: none;">Invalid phone number. Must be 10
                                                    digits.</div>
                                            </div><!-- End .col-sm-6 -->
                                        </div><!-- End .row -->
                                        <button type="submit" class="btn btn-primary"
                                            onclick="saveAddress(event)">Submit</button>
                                    </div><!-- End #different-address-form -->
                                </div><!-- End .col-lg-9 -->

                                <aside class="col-lg-3">
                                    <div class="cart-discount">
                                        <form id="form">
                                            <div id="errorMessage" class="text-danger"></div>
                                            <div class="form-group">
                                                <input type="text" id="couponCheck" class="form-control" required
                                                    placeholder="Coupon code">
                                            </div><!-- End .form-group -->
                                            <div class="form-group text-center">
                                                <a href="#" class="view-coupons" data-toggle="modal"
                                                    data-target="#couponModal">View Available Coupons</a>
                                                <button class="btn btn-outline-primary-2 btn-block" id="couponSubmit"
                                                    onclick="applyCoupon()">
                                                    <i class="icon-long-arrow-right"></i> Apply Coupon
                                                </button>
                                            </div><!-- End .form-group -->
                                        </form>
                                    </div><!-- End .cart-discount -->

                                    <div class="summary">
                                        <h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

                                        <table class="table table-summary">
                                            <thead>
                                                <tr>
                                                    <th>Product</th>
                                                    <th>Total</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <% cartData.forEach(element=> { %>
                                                    <tr>
                                                        <td><a href="#">
                                                                <%= element.Product.name %>
                                                            </a></td>
                                                        <td>
                                                            <% if (element.Product.offer> 0) { %>
                                                                ₹ <%= element.Product.offer * element.quantity %>
                                                                    <% } else { %>
                                                                        ₹ <%= element.Product.price * element.quantity
                                                                            %>
                                                                            <% } %>
                                                        </td>
                                                    </tr>
                                                    <% }) %>
                                                        <tr class="summary-subtotal">
                                                            <td>Subtotal:</td>
                                                            <td id="subtotal"></td>
                                                        </tr><!-- End .summary-subtotal -->
                                                        <tr class="summary-total">
                                                            <td>Total:</td>
                                                            <td id="total"></td>
                                                        </tr><!-- End .summary-total -->
                                            </tbody>
                                        </table><!-- End .table table-summary -->

                                        <div class="accordion-summary" id="accordion-payment">
                                            <div class="card">
                                                <div class="card-header" id="heading-1">
                                                    
                                                    <h2 class="card-title">
                                                        <input type="radio" name="paymentMethod"
                                                            value="Cash on delivery" id="paymentMethod1">
                                                        <label for="paymentMethod1">Cash on delivery</label>
                                                    </h2>
                                                </div>
                                                <div id="collapse-1" class="collapse show" aria-labelledby="heading-1"
                                                    data-parent="#accordion-payment">
                                                    <div class="card-body">
                                                        Make your payment directly into our bank account. Please use
                                                        your Order ID as the payment reference. Your order will not be
                                                        shipped until the funds have cleared in our account.
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card">
                                                <div class="card-header" id="heading-2">
                                                    <h2 class="card-title">
                                                        <input type="radio" name="paymentMethod" value="Razor Pay"
                                                            id="paymentMethod2">
                                                        <label for="paymentMethod2">Razor Pay</label>
                                                    </h2>
                                                </div>
                                                <div id="collapse-2" class="collapse" aria-labelledby="heading-2"
                                                    data-parent="#accordion-payment">
                                                    <div class="card-body">
                                                        Ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio.
                                                        Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card">
                                                <div class="card-header" id="heading-3">
                                                    <h2 class="card-title">
                                                        <input type="radio" name="paymentMethod" value="Wallet"
                                                            id="paymentMethod3">
                                                        <label for="paymentMethod3">Wallet</label>
                                                    </h2>
                                                </div>
                                                <div id="collapse-3" class="collapse" aria-labelledby="heading-3"
                                                    data-parent="#accordion-payment">
                                                    <div class="card-body">
                                                        Ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio.
                                                        Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.
                                                    </div>
                                                </div>
                                            </div>

                                            <button type="submit" onclick="placeOrder(event)"
                                                class="btn btn-outline-primary-2 btn-order btn-block">
                                                <span class="btn-text">Place Order</span>
                                                <span class="btn-hover-text">Proceed to Checkout</span>
                                            </button>
                                        </div><!-- End .accordion-summary -->
                                    </div><!-- End .summary -->
                                </aside><!-- End .col-lg-3 -->
                            </div><!-- End .row -->
                        </form>
                    </div><!-- End .container -->
                </div><!-- End .checkout -->
            </div><!-- End .page-content -->

            <!-- Modal -->
            <div class="modal fade" id="couponModal" tabindex="-1" role="dialog" aria-labelledby="couponModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="couponModalLabel">Available Coupons</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" id="couponModalBody">
                            <!-- Coupons will be dynamically loaded here -->
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </main><!-- End .main -->


        <footer class="footer">
            <div class="footer-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-lg-3">
                            <div class="widget widget-about">
                                <img src="/user/assets/images/logo.png" class="footer-logo" alt="Footer Logo"
                                    width="105" height="25">
                                <p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate
                                    magna eros eu erat. </p>

                                <div class="social-icons">
                                    <a href="#" class="social-icon" target="_blank" title="Facebook"><i
                                            class="icon-facebook-f"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Twitter"><i
                                            class="icon-twitter"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Instagram"><i
                                            class="icon-instagram"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Youtube"><i
                                            class="icon-youtube"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Pinterest"><i
                                            class="icon-pinterest"></i></a>
                                </div><!-- End .soial-icons -->
                            </div><!-- End .widget about-widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="about.html">About Molla</a></li>
                                    <li><a href="#">How to shop on Molla</a></li>
                                    <li><a href="#">FAQ</a></li>
                                    <li><a href="contact.html">Contact us</a></li>
                                    <li><a href="login.html">Log in</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="#">Payment Methods</a></li>
                                    <li><a href="#">Money-back guarantee!</a></li>
                                    <li><a href="#">Returns</a></li>
                                    <li><a href="#">Shipping</a></li>
                                    <li><a href="#">Terms and conditions</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="#">Sign In</a></li>
                                    <li><a href="cart.html">View Cart</a></li>
                                    <li><a href="#">My Wishlist</a></li>
                                    <li><a href="#">Track My Order</a></li>
                                    <li><a href="#">Help</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .footer-middle -->

            <div class="footer-bottom">
                <div class="container">
                    <p class="footer-copyright">Copyright © 2019 Molla Store. All Rights Reserved.</p>
                    <!-- End .footer-copyright -->
                    <figure class="footer-payments">
                        <img src="/user/assets/images/payments.png" alt="Payment methods" width="272" height="20">
                    </figure><!-- End .footer-payments -->
                </div><!-- End .container -->
            </div><!-- End .footer-bottom -->
        </footer><!-- End .footer -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>





    <!-- Plugins JS File -->
    <script src="/user/assets/js/jquery.min.js"></script>
    <script src="/user/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/user/assets/js/jquery.hoverIntent.min.js"></script>
    <script src="/user/assets/js/jquery.waypoints.min.js"></script>
    <script src="/user/assets/js/superfish.min.js"></script>
    <script src="/user/assets/js/owl.carousel.min.js"></script>
    <!-- Main JS File -->
    <script src="/user/assets/js/main.js"></script>
</body>



<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    // Function to check if the user is logged in
    function isLoggedIn() {
        // This is a placeholder. Replace it with actual logic to check user login status.
        return true; // For example purposes, we assume the user is logged in.
    }

    document.addEventListener("DOMContentLoaded", function () {
        var accountLink = document.getElementById("accountLink");
        var dropdownMenu = document.getElementById("dropdownMenu");
        var profileLink = document.getElementById("profileLink");
        var loginLink = document.getElementById("loginLink");
        var logoutLink = document.getElementById("logoutLink");

        // Check if the user is logged in
        if (isLoggedIn()) {
            profileLink.style.display = "block";
            logoutLink.style.display = "block";
            loginLink.style.display = "none";

            // Show the dropdown menu on account link click
            accountLink.addEventListener("click", function (event) {
                event.preventDefault();
                dropdownMenu.style.display = dropdownMenu.style.display === "none" ? "block" : "none";
            });
        } else {
            loginLink.style.display = "block";
            profileLink.style.display = "none";
            logoutLink.style.display = "none";

            // Direct to login page on account link click
            accountLink.href = "/login";
        }

        // Hide the dropdown menu if clicked outside
        window.addEventListener("click", function (event) {
            if (!event.target.matches('#accountLink')) {
                if (dropdownMenu.style.display === "block") {
                    dropdownMenu.style.display = "none";
                }
            }
        });
    });




    // SUBTOTAL
    document.addEventListener('DOMContentLoaded', () => {
        fetch('/subTotalChange', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(response => response.json())
            .then(data => {
                const productData = data.productData
                let subtotal = 0;
                productData.forEach(element => {
                    let price;
                    if (element.Product.offer > 0) {
                        price = element.Product.offer;
                    } else {
                        price = element.Product.price;
                    }
                    subtotal += price * element.quantity;
                });
                document.getElementById('subtotal').innerText = `₹${subtotal}`;
                document.getElementById('total').innerText = `₹${subtotal}`;

                 // Hide Cash on delivery option if subtotal is greater than 1000
            if (subtotal > 1000) {
                document.getElementById('paymentMethod1').closest('.card').style.display = 'none';
                const importantText = document.createElement('div');
                importantText.style.color = 'red';
                importantText.style.fontWeight = 'bold';
                importantText.innerText = 'For Cash on delivery, the order must be less than ₹1000';
                document.querySelector('#accordion-payment').prepend(importantText);
            }
            
            })
            .catch(error => {
                console.log(error)
            })

    })




    //SCRIPT FOR TOGGLE DOWN
    document.getElementById('checkout-diff-address').addEventListener('change', function () {
        var addressForm = document.getElementById('different-address-form');
        if (this.checked) {
            addressForm.style.display = 'block';
        } else {
            addressForm.style.display = 'none';
        }
    });


    //SAVE ADDRESS 
    function saveAddress(event) {
        event.preventDefault();

        const name = document.getElementById('name').value.trim();
        const mobile = document.getElementById('mobile').value.trim();
        const address = document.getElementById('address').value.trim();
        const pincode = document.getElementById('pincode').value.trim();
        const city = document.getElementById('city').value.trim();
        const state = document.getElementById('state').value.trim();

        let isValid = true;

        // Validate name
        if (/[^a-zA-Z]/.test(name)) {
            document.getElementById('nameError').style.display = 'block';
            isValid = false;
        } else {
            document.getElementById('nameError').style.display = 'none';
        }

        var trimmedAddress = address.trim();

        // Check if the address contains any invalid characters
        if (/[^a-zA-Z0-9\s]/.test(address) || trimmedAddress.length === 0) {
            document.getElementById('addressError').style.display = 'block';
            isValid = false;
        } else {
            document.getElementById('addressError').style.display = 'none';
        }

        // Validate city
        if (/[^a-zA-Z]/.test(city)) {
            document.getElementById('cityError').style.display = 'block';
            isValid = false;
        } else {
            document.getElementById('cityError').style.display = 'none';
        }

        // Validate state
        if (/[^a-zA-Z]/.test(state)) {
            document.getElementById('stateError').style.display = 'block';
            isValid = false;
        } else {
            document.getElementById('stateError').style.display = 'none';
        }

        // Validate pincode
        if (!/^\d{6}$/.test(pincode)) {
            document.getElementById('pincodeError').style.display = 'block';
            isValid = false;
        } else {
            document.getElementById('pincodeError').style.display = 'none';
        }

        // Validate phone
        if (!/^\d{10}$/.test(mobile)) {
            document.getElementById('mobileError').style.display = 'block';
            isValid = false;
        } else {
            document.getElementById('mobileError').style.display = 'none';
        }

        if (isValid) {
            const formData = { name, mobile, address, pincode, city, state };

            fetch('/addAddress', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(formData)
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        window.location.reload();
                    }
                })
                .catch(error => {
                    console.log(error);
                });
        }
    }



    //PLACE ORDER 
    function placeOrder(event) {
        event.preventDefault();
        let couponCode = document.getElementById('couponCheck').value;
        let checkAddress = document.querySelector('input[name="address"]:checked').value;
        let paymentMethod = document.querySelector('input[name="paymentMethod"]:checked').value; // Get the selected payment method
        console.log(paymentMethod)

        fetch('/placeOrder', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ checkAddress: checkAddress, couponCode: couponCode, paymentMethod: paymentMethod }) // Include payment method
        })
            .then(response => response.json())
            .then(data => {
                if (data.message === 'Razorpay order created') {

                    const options = {
                        key: data.key,
                        amount: data.amount * 100,
                        name: 'meehaf',
                        order_id: data.razorpayOrderId,
                        handler: function (response) {
                            fetch('/confirm-payment', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify({
                                    orderId: data.orderId,
                                    razorpayPaymentId: response.razorpay_payment_id,
                                    razorpayOrderId: response.razorpay_order_id,
                                    razorpaySignature: response.razorpay_signature
                                })
                            })
                                .then(response => {
                                    if (!response.ok) {
                                        throw new Error('Network response was not ok')
                                    }
                                    return response.json()
                                })
                                .then(data => {
                                    if (data.message === 'Success') {
                                        Swal.fire({
                                            icon: 'success',
                                            title: 'Order Confirmed!',
                                            text: 'Your order has been successfully placed.',
                                            confirmButtonText: 'OK'
                                        })
                                            .then(() => {
                                                console.log('Order Confirmed');
                                                window.location.href = `/orderSuccess?orderId=${data.orderId}`;
                                            });
                                    } else if (data.message === 'Payment not confirmed') {
                                        Swal.fire({
                                            icon: 'error',
                                            title: 'Payment not confirmed!',
                                            text: 'Payment not confirmed. Please contact support.',
                                            confirmButtonText: 'OK'
                                        });
                                    } else {
                                        Swal.fire({
                                            icon: 'error',
                                            title: 'Payment Failed!',
                                            text: 'Your payment was successful but order placement failed. Please contact support.',
                                            confirmButtonText: 'OK'
                                        });

                                    }
                                })
                                .catch(error => {
                                    console.log(error)
                                })

                        },
                        prefill: {
                            name: 'fayeem',
                            email: 'email@email.com',
                            contact: '9867876598'
                        },
                        theme: {
                            color: "#3399cc"
                        }
                    }
                    const rzpl = new Razorpay(options);
                    rzpl.on('payment.failed', function (response) {

                        fetch('/paymentFailure', {
                            method: 'POST',
                            headers: {
                                'Content-Type' : 'application/json'
                            },
                            body: JSON.stringify( { orderId: data.orderId } )
                        })
                        .then( response => {
                            if( !response.ok ){
                                throw new Error('Network response was not okey')
                            }
                            return response.json()
                        } )
                        .then(data => {
                            console.log(data.message)
                            if( data.message === 'Order payment status updated to failed' ){
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Payment Failed!',
                                    text: 'Order pending payment Failed.',
                                    confirmButtonText: 'OK'
                                })
                                .then( result => {
                                    if( result.isConfirmed ) {
                                        window.location.href = '/'
                                    }
                                })
                                .catch( error => {
                                    console.log(error)
                                } )
                            }
                        })
                    });
                    rzpl.open();
                } else if (data.puskas && data.cashOnDelivary) {
                    console.log(data)
                    Swal.fire({
                        icon: 'success',
                        title: 'Order Confirmed with COD',
                        text: 'Your order has been successfully placed',
                        confirmButtonText: 'OK'
                    })
                        .then(() => {
                            window.location.href = `/orderSuccess?orderId=${data.orderId}`;
                        });

                } else if (data.success && data.wallet) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Payment with Wallet',
                        text: 'Your payment was successful using your wallet balance.',
                        confirmButtonText: 'OK'
                    })
                        .then(result => {
                            if (result.isConfirmed) {
                                window.location.href = `/orderSuccess?orderId=${data.orderId}`;
                            }
                        });
                } else if (data.message1) {
                    Swal.fire({
                        icon: 'warning',
                        title: 'Insufficient Balance in Your Wallet',
                        confirmButtonText: 'OK'
                    });
                } else if (data.message2) {
                    Swal.fire({
                        icon: 'warning',
                        title: 'No Wallet Found for This User',
                        confirmButtonText: 'OK'
                    });
                }
            })
            .catch(error => {
                console.log(error);
            });
    }






    //COUPON CHECK 
    function applyCoupon() {
        event.preventDefault();
        const couponCode = document.getElementById('couponCheck').value;
        fetch('/checkCoupon', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ couponCode: couponCode })
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                if (data.success) {
                    let totalAmount = data.totalPrice;
                    fetch('/applyCoupon', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ totalAmount: totalAmount, couponCode: couponCode })
                    })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Network response was not ok');
                            }
                            return response.json();
                        })
                        .then(data => {
                            if (data.success) {
                                let totalAmount = data.discountAmount;
                                document.getElementById('subtotal').innerText = `₹ ${totalAmount}`;
                                document.getElementById('total').innerText = `₹ ${totalAmount}`;
                            } else if (data.fail) {
                                document.getElementById('errorMessage').innerText = data.fail;
                            }
                        });
                } else if (data.message) {
                    document.getElementById('errorMessage').innerText = data.message;
                }
            })
            .catch(error => {
                console.log(error);
            });
    }







    //FOR COUPON MODAL
    document.querySelector('.view-coupons').addEventListener('click', function () {
        fetch('/getAvailableCoupons')
            .then(response => response.json())
            .then(data => {
                console.log(data); // Check console for correct data structure
                const couponModalBody = document.getElementById('couponModalBody');
                couponModalBody.innerHTML = ''; // Clear existing content

                if (data.couponData.length > 0) {
                    data.couponData.forEach(coupon => {
                        const couponDiv = document.createElement('div');
                        couponDiv.classList.add('card', 'mb-3', 'shadow-sm', 'coupon-item');

                        // Determine status text based on coupon status and usage
                        let statusText = '';
                        const userId = data.userId; // Get userId from response data
                        if (coupon.status) {
                            statusText = 'Not Available';
                        } else {
                            const userCoupon = coupon.userList.find(userCoupon => userCoupon.userId === userId);
                            if (userCoupon && userCoupon.couponUsed) {
                                console.log(userCoupon)
                                statusText = 'Not Available';
                            } else {
                                statusText = 'Available';
                            }
                        }

                        couponDiv.innerHTML = `
                        <div class="card-body">
                            <h5 class="card-title text-danger">${coupon.couponCode}</h5>
                            <h6 class="card-subtitle mb-2">${coupon.name}</h6>
                            <p class="card-text">Discount: ${coupon.amount}.00</p>
                            <p class="card-text">Status: ${statusText}</p>
                            <p class="card-text">Expires on: ${new Date(coupon.expires).toLocaleDateString()}</p>
                        </div>
                    `;
                        couponModalBody.appendChild(couponDiv);
                    });
                } else {
                    couponModalBody.innerHTML = '<p class="text-center">No available coupons at the moment.</p>';
                }
            })
            .catch(error => {
                console.error('Error fetching coupons:', error);
                const couponModalBody = document.getElementById('couponModalBody');
                couponModalBody.innerHTML = '<p class="text-center text-danger">Failed to load coupons. Please try again later.</p>';
            });
    });







</script>



<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!--   For linking the razor pay     -->
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>


<!-- molla/checkout.html  22 Nov 2019 09:55:06 GMT -->

</html>