<!DOCTYPE html>
<html lang="en">


<!-- molla/category-fullwidth.html  22 Nov 2019 10:03:02 GMT -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Molla - Bootstrap eCommerce Template</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/user/assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/user/assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/user/assets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/user/assets/images/icons/site.html">
    <link rel="mask-icon" href="/user/assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="/user/assets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="/user/assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/user/assets/css/bootstrap.min.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/user/assets/css/style.css">
    <link rel="stylesheet" href="/user/assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/user/assets/css/plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="/user/assets/css/plugins/nouislider/nouislider.css">


    <style>
        .header-right {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }

        .header-search,
        .wishlist,
        .cart-dropdown,
        .login {
            margin-left: 15px;
        }

        .header-right a {
            display: flex;
            align-items: center;
            text-decoration: none;
            color: inherit;
        }

        .header-right .icon-user,
        .header-right .icon-heart-o {
            margin-right: 5px;
            font-size: large;
        }

        @media (max-width: 768px) {
            .header-right {
                flex-wrap: wrap;
                justify-content: center;
            }

            .header-search,
            .wishlist,
            .cart-dropdown,
            .login {
                margin-left: 10px;
                margin-right: 10px;
                margin-bottom: 10px;
            }

            .header-right .login a {
                font-size: 14px;
            }
        }

        @media (max-width: 480px) {
            .header-right .login a {
                font-size: 12px;
            }
        }

        /* Dropdown content (hidden by default) */
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }

        /* Links inside the dropdown */
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {
            background-color: #f1f1f1;
        }
        .label-off {
        background-color: red;
        color: white; /* Ensures the text is visible */
        padding: 5px;
        border-radius: 3px;
        font-weight: medium;
        }
    </style>


</head>

<body>
    <div class="page-wrapper">
        <header class="header">


            <div class="header-middle sticky-header">
                <div class="container-fluid">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>

                        <a href="/" class="logo">
                            <img src="/user/assets/images/logo.png" alt="Molla Logo" width="105" height="25">
                        </a>

                        <nav class="main-nav">
                            <ul class="menu">
                                <li class="megamenu-container">
                                    <a href="/" class="">Home</a>
                                </li>
                                <li>
                                    <a href="/shop"">Shop</a>

                                </li>
                                <li>
                                    <a href=" /cart">Cart</a>
                                </li>
                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->
                    </div><!-- End .header-left -->

                    <div class=" header-right">
                        <div class="header-search">
                            <a href="#" class="search-toggle" role="button" title="Search"><i class="icon-search"></i></a>
                            <form action="/shop" method="get">
                                <div class="header-search-wrapper">
                                    <label for="q" class="sr-only">Search</label>
                                    <input type="search" class="form-control" name="searchInShop" id="searchInShop" placeholder="Search in..." required>
                                </div><!-- End .header-search-wrapper -->
                            </form>
                        </div><!-- End .header-search -->
                        

                        <div class="wishlist">
                            <a href="/wishlist" title="Wishlist">
                                <i class="icon-heart-o" style="font-size:large;"></i>
                                <span class="wishlist-count">3</span>
                            </a>
                        </div><!-- End .wishlist -->

                        <div class=" cart-dropdown">
                            <a href="/cart" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false"
                                data-display="static">
                                <i class="icon-shopping-cart"></i>
                                <span class="cart-count">0</span>
                            </a>


                        </div><!-- End .cart-dropdown -->

                        <!-- New login section -->
                        <!-- <div class="login" style="padding-left: 6px; margin-left: 4px;">
                            <a href="/login" title="Login">
                                <i class="icon-user" style="font-size:large;"></i> LOGIN
                            </a>
                        </div> -->
                        <!-- End .login -->

                        <!-- ACCOUNTICON -->
                        <div class="account" style="padding-left: 6px; margin-left: 4px;">
                            <a href="#" id="accountLink" title="Account">
                                <i class="icon-user" style="font-size: large;"></i> ACCOUNT
                            </a>
                            <div id="dropdownMenu" class="dropdown-content" style="display: none;">
                                <a href="/userProfile" id="profileLink" style="display: none;">User
                                    Profile</a>
                                <a href="/login" id="loginLink" style="display: none;">Login</a>
                                <a href="/logout" id="logoutLink" style="display: none;">Logout</a>
                            </div>
                        </div>







                    </div><!-- End .header-right -->
                </div><!-- End .container-fluid -->
            </div><!-- End .header-middle -->
        </header><!-- End .header -->

        <main class="main">
            <div class="page-header text-center" style="background-image: url('/user/assets/images/page-header-bg.jpg')">
                <div class="container-fluid">
                    <h1 class="page-title">Fullwidth No Sidebar<span>Shop</span></h1>
                </div><!-- End .container-fluid -->
            </div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
                <div class="container-fluid">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active"><a>Shop</a></li>
                    </ol>
                </div><!-- End .container-fluid -->
            </nav><!-- End .breadcrumb-nav -->
        <form id="filterForm" action="/filterProduct" method="">
    <div class="page-content">
        <div class="container-fluid">
            <div class="toolbox">
                <div class="toolbox-left">
                    <div class="toolbox-sort">
                        <label for="category">Category:</label>
                        <div class="select-custom">
                            <select name="category" id="category" class="form-control" onchange="filterByCategories()">
                                <option value="allCategories">All Categories</option>
                                <% categoryData.forEach(category => { %>
                                    <option value="<%= category.name %>"><%= category.name %></option>
                                <% }) %>
                            </select>
                        </div>
                    </div>
                </div><!-- End .toolbox-left -->
                
                <div class="toolbox-center">
                    <div class="toolbox-info">
                        Showing <span>1 of 1</span> Products
                    </div>
                </div><!-- End .toolbox-center -->
                
                <div class="toolbox-right">
                    <div class="toolbox-sort">
                        <label for="sortby">Sort by:</label>
                        <div class="select-custom">
                            <select name="sortbyPrice" id="sortbyPrice" class="form-control" onchange="filterByCategories()">
                                <option value="allPrice">None</option>
                                <option value="sortAZ">A - Z</option>
                                <option value="sortZA">Z - A</option>
                                <option value="lowToHigh">Price Low - High</option>
                                <option value="highToLow">Price High - Low</option>
                            </select>
                        </div>
                    </div>
                </div><!-- End .toolbox-right -->
            </div><!-- End .toolbox -->
        </div>
    </div>
</form>
            
                    <div class="products">
                        <div class="row" id="allProducts">
                            <% Products.forEach((item) => { %>
                                <% if (!item.status) { %>
                                    <div class="col-6 col-md-4 col-lg-4 col-xl-3 col-xxl-2">
                                        <div class="product">
                                            <figure class="product-media">
                                                <% if (item.offer > 0) { %>
                                                    <span class="product-label label-off">Off</span>
                                                 <% } else { %>
                                                    <span class="product-label label-new">New</span>
                                                <% } %>
                                                <a href="/singleProduct/?id=<%= item.id %>">
                                                    <img src="/public/productImage/<%= item.image[0] %>" alt="Product image" class="product-image">
                                                </a>
                                                <div class="product-action-vertical">
                                                    <a onclick="addToWishlist('<%= item._id %>')" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                                </div><!-- End .product-action -->
                                                <div class="product-action action-icon-top">
                                                    <a class="btn-product btn-cart" onclick="addToCart('<%= item._id %>')"><span>add to cart</span></a>
                                                </div><!-- End .product-action -->
                                            </figure><!-- End .product-media -->
                                            <div class="product-body">
                                                <div class="product-cat">
                                                    <a href="#"><%= item.category %></a>
                                                </div><!-- End .product-cat -->
                                                <h3 class="product-title"><a href="/singleProduct"><%= item.name %></a></h3>
                                                <% if (item.offer > 0) { %>
                                                    <div class="product-price" style="font-family: sans-serif;">
                                                        <span class="original-price" style="text-decoration: line-through; color: maroon;">
                                                            ₹<%= item.price %>
                                                        </span>
                                                        <span class="offer-price" style="margin-left: 5px;">
                                                            ₹<%= item.offer %>
                                                        </span>
                                                    </div><!-- End .product-price -->
                                                <% } else { %>
                                                    <div class="product-price" style="font-family: sans-serif;">
                                                        ₹<%= item.price %>
                                                    </div><!-- End .product-price -->
                                                <% } %>
                                                
                                            </div><!-- End .product-body -->
                                        </div><!-- End .product -->
                                    </div><!-- End .col-sm-6 col-lg-4 col-xl-3 -->
                                <% } %>
                            <% }) %>
                        </div><!-- End .row -->
            
                        <% if (totalPages > 1) { %>
                            <nav aria-label="Page navigation">
                                <ul class="pagination justify-content-center">
                                    <% for (let i = 1; i <= totalPages; i++) { %>
                                        <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                                            <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                                        </li>
                                    <% } %>
                                </ul>
                            </nav>
                        <% } %>
                    </div><!-- End .products -->
            
                </div><!-- End .container-fluid -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->
        

        <footer class="footer footer-2">
            <div class="footer-middle">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 col-lg-4">
                            <div class="widget widget-about">
                                <img src="/user/assets/images/logo.png" class="footer-logo" alt="Footer Logo"
                                    width="105" height="25">
                                <p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate
                                    magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan
                                    porttitor, facilisis luctus, metus. </p>

                                <div class="widget-about-info">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-4">
                                            <span class="widget-about-title">Got Question? Call us 24/7</span>
                                            <a href="tel:123456789">+0123 456 789</a>
                                        </div><!-- End .col-sm-6 -->
                                        <div class="col-sm-6 col-md-8">
                                            <span class="widget-about-title">Payment Method</span>
                                            <figure class="footer-payments">
                                                <img src="/user/assets/images/payments.png" alt="Payment methods"
                                                    width="272" height="20">
                                            </figure><!-- End .footer-payments -->
                                        </div><!-- End .col-sm-6 -->
                                    </div><!-- End .row -->
                                </div><!-- End .widget-about-info -->
                            </div><!-- End .widget about-widget -->
                        </div><!-- End .col-sm-12 col-lg-4 -->

                        <div class="col-sm-4 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title">Information</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="about.html">About Molla</a></li>
                                    <li><a href="#">How to shop on Molla</a></li>
                                    <li><a href="faq.html">FAQ</a></li>
                                    <li><a href="contact.html">Contact us</a></li>
                                    <li><a href="login.html">Log in</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-4 col-lg-2 -->

                        <div class="col-sm-4 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="#">Payment Methods</a></li>
                                    <li><a href="#">Money-back guarantee!</a></li>
                                    <li><a href="#">Returns</a></li>
                                    <li><a href="#">Shipping</a></li>
                                    <li><a href="#">Terms and conditions</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-4 col-lg-2 -->

                        <div class="col-sm-4 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="#">Sign In</a></li>
                                    <li><a href="cart.html">View Cart</a></li>
                                    <li><a href="#">My Wishlist</a></li>
                                    <li><a href="#">Track My Order</a></li>
                                    <li><a href="#">Help</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-4 col-lg-2 -->

                        <div class="col-sm-6 col-lg-2">
                            <div class="widget widget-newsletter">
                                <h4 class="widget-title">Newsletter</h4><!-- End .widget-title -->

                                <p>Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan.</p>

                                <form action="#">
                                    <div class="input-group">
                                        <input type="email" class="form-control" placeholder="Enter your Email Address"
                                            aria-label="Email Adress" required>
                                        <div class="input-group-append">
                                            <button class="btn btn-dark" type="submit"><i
                                                    class="icon-long-arrow-right"></i></button>
                                        </div><!-- .End .input-group-append -->
                                    </div><!-- .End .input-group -->
                                </form>
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-2 -->
                    </div><!-- End .row -->
                </div><!-- End .container-fluid -->
            </div><!-- End .footer-middle -->

            <div class="footer-bottom">
                <div class="container-fluid">
                    <p class="footer-copyright">Copyright © 2019 Molla Store. All Rights Reserved.</p>
                    <!-- End .footer-copyright -->
                    <ul class="footer-menu">
                        <li><a href="#">Terms Of Use</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul><!-- End .footer-menu -->

                    <div class="social-icons social-icons-color">
                        <span class="social-label">Social Icons</span>
                        <a href="#" class="social-icon social-facebook" title="Facebook" target="_blank"><i
                                class="icon-facebook-f"></i></a>
                        <a href="#" class="social-icon social-twitter" title="Twitter" target="_blank"><i
                                class="icon-twitter"></i></a>
                        <a href="#" class="social-icon social-instagram" title="Instagram" target="_blank"><i
                                class="icon-instagram"></i></a>
                        <a href="#" class="social-icon social-youtube" title="Youtube" target="_blank"><i
                                class="icon-youtube"></i></a>
                        <a href="#" class="social-icon social-pinterest" title="Pinterest" target="_blank"><i
                                class="icon-pinterest"></i></a>
                    </div><!-- End .soial-icons -->
                </div><!-- End .container-fluid -->
            </div><!-- End .footer-bottom -->
        </footer><!-- End .footer -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>





    <!-- Plugins JS File -->
    <script src="/user/assets/js/jquery.min.js"></script>
    <script src="/user/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/user/assets/js/jquery.hoverIntent.min.js"></script>
    <script src="/user/assets/js/jquery.waypoints.min.js"></script>
    <script src="/user/assets/js/superfish.min.js"></script>
    <script src="/user/assets/js/owl.carousel.min.js"></script>
    <script src="/user/assets/js/wNumb.js"></script>
    <script src="/user/assets/js/bootstrap-input-spinner.js"></script>
    <script src="/user/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="/user/assets/js/nouislider.min.js"></script>
    <!-- Main JS File -->
    <script src="/user/assets/js/main.js"></script>
</body>





<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
    // Function to check if the user is logged in
    function isLoggedIn() {
        // This is a placeholder. Replace it with actual logic to check user login status.
        return true; // For example purposes, we assume the user is logged in.
    }

    document.addEventListener("DOMContentLoaded", function () {
        var accountLink = document.getElementById("accountLink");
        var dropdownMenu = document.getElementById("dropdownMenu");
        var profileLink = document.getElementById("profileLink");
        var loginLink = document.getElementById("loginLink");
        var logoutLink = document.getElementById("logoutLink");

        // Check if the user is logged in
        if (isLoggedIn()) {
            profileLink.style.display = "block";
            logoutLink.style.display = "block";
            loginLink.style.display = "none";

            // Show the dropdown menu on account link click
            accountLink.addEventListener("click", function (event) {
                event.preventDefault();
                dropdownMenu.style.display = dropdownMenu.style.display === "none" ? "block" : "none";
            });
        } else {
            loginLink.style.display = "block";
            profileLink.style.display = "none";
            logoutLink.style.display = "none";

            // Direct to login page on account link click
            accountLink.href = "/login";
        }

        // Hide the dropdown menu if clicked outside
        window.addEventListener("click", function (event) {
            if (!event.target.matches('#accountLink')) {
                if (dropdownMenu.style.display === "block") {
                    dropdownMenu.style.display = "none";
                }
            }
        });
    });



    //ADD TO CART
    function addToCart(productId) {
        fetch('/checkStock', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ productId: productId })
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(stockData => {
                if (stockData.stock === 0) {
                    Swal.fire({
                        title: "Out of Stock",
                        text: "This product is out of stock.",
                        icon: "error"
                    });
                } else {
                    Swal.fire({
                        title: "Are you sure?",
                        text: "You want to add this product to the cart?",
                        icon: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#3085d6",
                        cancelButtonColor: "#d33",
                        confirmButtonText: "Yes, add it!"
                    }).then((result) => {
                        if (result.isConfirmed) {
                            fetch('/checkCart', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify({ productId: productId })
                            }).then(response => {
                                if (!response.ok) {
                                    throw new Error('Network response was not ok');
                                }
                                return response.json();
                            })
                                .then(data => {
                                    if (data.success) {
                                        Swal.fire({
                                            title: "Added!",
                                            text: "Product has been added to the cart.",
                                            icon: "success"
                                        });
                                    } else {
                                        Swal.fire({
                                            text: "Product is already in the cart",
                                            icon: "warning",
                                            showCancelButton: true,
                                            confirmButtonColor: "#3085d6",
                                            cancelButtonColor: "#d33",
                                            confirmButtonText: "Go to cart!"
                                        }).then((result) => {
                                            if (result.isConfirmed) {
                                                window.location.href = '/cart';
                                            }
                                        });
                                    }
                                })
                                .catch(error => {
                                    console.error('Error:', error);
                                });
                        }
                    });
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }

    //SORTING PRODUCTS IN THE SHOP PAGE----------------------------------------------------------------------------------------
function filterByCategories() {
    const form = document.getElementById('filterForm');
    
    // Create a FormData object to handle the form submission
    const formData = new FormData(form);
    
    // Ensure the current selected values are set
    // formData.set('category', document.getElementById('category').value);
    formData.set('sortbyPrice', document.getElementById('sortbyPrice').value);
    const category = document.getElementById('category').value
    const price = document.getElementById('sortbyPrice').value
    console.log("body is",category , price);
    
    // Submit the form using fetch
    fetch(`/filterProduct?sortByPrice=${price}&sortByCategory=${category}`)
    .then(response => response.json())
			.then(data => {
				appendSortingProducts(data.products);
			})
			.catch(error => console.error('Error:', error))
}


    // ###########################

    function appendSortingProducts(productData) {
        console.log("produuu",productData);
        const allProductsDiv = document.getElementById('allProducts');
        allProductsDiv.innerHTML = '';

        productData.forEach((item, index) => {
            const sortedElement = document.createElement('div');
            sortedElement.classList.add('col-6', 'col-md-4', 'col-lg-4', 'col-xl-3', 'col-xxl-2');
            sortedElement.innerHTML = `
            <div class="product">
                <figure class="product-media">
                    <span class="product-label label-new">New</span>
                    <a href="/singleProduct/?id=${item.id}">
                        <img src="/public/productImage/${item.image[0]}" alt="Product image" class="product-image">
                    </a>
                    <div class="product-action-vertical">
                        <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                    </div>
                    <div class="product-action action-icon-top">
                        <a class="btn-product btn-cart" onclick="addToCart('${item._id}')"><span>add to cart</span></a>
                    </div>
                </figure>
                <div class="product-body">
                    <div class="product-cat">
                        <a href="#">${item.category}</a>
                    </div>
                    <h3 class="product-title"><a href="/singleProduct">${item.name}</a></h3>
                    <div class="product-price" style="font-family: sans-serif;">
                        ₹${item.price}
                    </div>
                </div>
            </div>`;
            allProductsDiv.appendChild(sortedElement);
        });
    }


    //ADD TO WISHLIST
    function addToWishlist(productId) {
    // First, check if the product is already in the wishlist
    fetch('/checkWishlist', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ productId: productId })
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Network response was not okay');
        }
        return response.json();
    })
    .then(data => {
        if (data.inWishlist) {
            Swal.fire({
                title: "Product is already in the wishlist",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Go to wishlist!"
            }).then(result => {
                if (result.isConfirmed) {
                    window.location.href = '/wishlist';
                }
            });
        } else {
            Swal.fire({
                title: 'Add to Wishlist?',
                text: "Do you want to add this product to the wishlist?",
                icon: "question",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, add it!"
            }).then(result => {
                if (result.isConfirmed) {
                    fetch('/addToWishlist', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ productId: productId })
                    })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not okay');
                        }
                        return response.json();
                    })
                    .then(data => {
                        if (data.success) {
                            Swal.fire({
                                title: "Added!",
                                text: "Product has been added to the wishlist.",
                                icon: "success"
                            });
                        } else {
                            console.log('Failed to add the product to the wishlist');
                        }
                    })
                    .catch(error => {
                        console.log(error);
                    });
                }
            });
        }
    })
    .catch(error => {
        console.log(error);
    });
}



</script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<script src="sweetalert2.all.min.js"></script>


<!-- molla/category-fullwidth.html  22 Nov 2019 10:03:02 GMT -->

</html>