<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from htmldemo.net/furbar-1/furbar/my-account.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 14 Dec 2023 16:16:18 GMT -->

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>M E E ' H A F</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/account/assets/images/favicon.png" />

    <!-- CSS
	============================================ -->

    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="/account/assets/css/plugins/pe-icon-7-stroke.css" />
    <link rel="stylesheet" href="/account/assets/css/plugins/font-awesome.min.css" />

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="/account/assets/css/plugins/bootstrap.min.css" />
    <link rel="stylesheet" href="/account/assets/css/plugins/animate.min.css" />
    <link rel="stylesheet" href="/account/assets/css/plugins/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/account/assets/css/plugins/odometer.min.css" />
    <link rel="stylesheet" href="/account/assets/css/plugins/select2.min.css" />
    <link rel="stylesheet" href="/account/assets/css/plugins/ion.rangeSlider.min.css" />

    <!-- Main Style CSS -->
    <!-- <link rel="stylesheet" href="/account/assets/css/style.css"> -->
    <link rel="stylesheet" href="/account/assets/css/style.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <style>
        .password-input {
            position: relative;
        }

        .password-input input[type="password"] {
            padding-right: 30px;
            /* Adjust this value as needed */
        }

        .password-input .toggle-password {
            position: absolute;
            top: 50%;
            right: 10px;
            /* Adjust the right offset for proper alignment */
            transform: translateY(-50%);
            cursor: pointer;
        }

        .single-form {
            position: relative;
            /* Ensure relative positioning for icon alignment */
        }

        .single-form .toggle-password {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            cursor: pointer;
        }
    </style>
</head>


<body>
    <!-- Header Start  -->
    <div class="header-area header-sticky d-none d-lg-block">
        <div class="container position-relative">
            <div class="row align-items-center">
                <div class="col-lg-3">
                    <!-- Header Logo Start -->
                    <div class="header-logo">
                    </div>
                    <!-- Header Logo End -->
                </div>
                <div class="col-lg-6">
                    <div class="header-menu">
                        <ul class="nav-menu">
                            <li>
                                <a href="/">Home</a>

                            </li>
                            <li>
                                <a href="/shop">Shop</a>

                            </li>

                            <li>
                                <a href="/cart">Cart</a>

                            </li>

                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <!-- Header Meta Start -->
                    <div class="header-meta">
                        <div class="dropdown">
                            <a class="action" href="#" role="button" data-bs-toggle="dropdown">
                                <i class="pe-7s-search"></i>
                            </a>

                            <div class="dropdown-menu dropdown-search">
                                <!-- Header Search Start -->
                                <div class="header-search">
                                    <form action="#">
                                        <input type="text" placeholder="Enter your search key ... " />
                                        <button>
                                            <i class="pe-7s-search"></i>
                                        </button>
                                    </form>
                                </div>
                                <!-- Header Search End -->
                            </div>
                        </div>

                        <div class="dropdown">
                            <a class="action" href="#" role="button" data-bs-toggle="dropdown"><i
                                    class="pe-7s-user"></i></a>

                            <ul class="dropdown-menu dropdown-profile">
                                <li><a href="/userProfile">My Account</a></li>
                                <li><a href="/checkOut">Checkout</a></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        </div>
                        <a class="action" href="wishlist.html"><i class="pe-7s-like"></i></a>

                        <div class="dropdown">
                            <a class="action" href="#" role="button" data-bs-toggle="dropdown">
                                <i class="pe-7s-shopbag"></i>
                                <span class="number">3</span>
                            </a>

                            <!-- CART ICON IS HERE -->
                            <div class="">
                                <div class="cart-content" id="cart-content">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Header Meta End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
    </div>
    <!-- off Canvas End -->

    <!-- Page Banner Section Start -->
    <div class="section page-banner-section" style="background-image: url(/account/assets/images/adventure.png)">
        <div class="container">
            <!-- Page Banner Content End -->
            <div class="page-banner-content">
                <h2 class="title">My Account</h2>

                <ul class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li class="active">My Account</li>
                </ul>
            </div>
            <!-- Page Banner Content End -->
        </div>
    </div>
    <!-- Page Banner Section End -->

    <!-- My Account Section Start -->
    <div class="section section-padding">
        <div class="container">
            <div class="row gy-4">
                <div class="col-xl-3 col-md-4">
                    <!-- My Account Menu Start -->
                    <div class="my-account-menu">
                        <ul class="nav account-menu-list flex-column">
                            <li>
                                <a class="active" data-bs-toggle="pill" href="#pills-dashboard"><i
                                        class="fa fa-tachometer"></i>
                                    Dashboard</a>
                            </li>
                            <li>
                                <a href="/orderPage"><i class="fa fa-shopping-cart"></i>
                                    Order</a>
                            </li>

                            <li>
                                <a data-bs-toggle="pill" href="#pills-address"><i class="fa fa-map-marker"></i>
                                    Address</a>
                            </li>
                            <li>
                                <a data-bs-toggle="pill" href="#pills-account"><i class="fa fa-user"></i> Account
                                    Details</a>
                            </li>
                            <li>
                                <a href="/walletPage"><i class="fa fa-wallet"></i> Wallet</a>
                            </li>
                            <li>
                                <a href="/couponPage" ><i class="fa fa-ticket"></i> Coupons</a>
                            </li>
                            <li>
                                <a data-bs-toggle="pill" href="#pill-refferel"><i class="fa fa-share"></i>Refferel</a>
                            </li>
                            <li>
                                <a href="/logout"><i class="fa fa-sign-out"></i>
                                    Logout</a>
                            </li>
                        </ul>
                    </div>
                    <!-- My Account Menu End -->
                </div>
                <div class="col-xl-9 col-md-8">
                    <!-- Tab content start -->
                    <div class="tab-content my-account-tab">
                        <div class="tab-pane fade show active" id="pills-dashboard">
                            <div class="my-account-dashboard account-wrapper">
                                <h4 class="account-title">Dashboard</h4>
                                <div class="welcome-dashboard">
                                    <p>
                                        Hello,
                                        <strong>
                                            <%= userData.name %>!!!!!!!
                                        </strong>
                                    </p>
                                </div>
                                <p>
                                    Welcome To
                                    M e e ' h a f. Where The dreams comes true, once you buy it you'll never forget it
                                    we are happy to serve you how ever we can please feel free to discover our app. if
                                    you have any doubts our customer service is 24/7
                                </p>
                            </div>
                        </div>

                       


                        <!-- ADDRESS DETAILS -->
                        <div class="tab-pane fade" id="pills-address">
                            <div class="my-account-address account-wrapper">
                                <div class="row">
                                    <% addresses.forEach(details=> { %>
                                        <div class="col-md-12">
                                            <div class="account-address" id="address-<%= details._id %>">
                                                <h4 class="account-title">Billing address</h4>
                                                <h6 class="name">
                                                    <%= details.name %>
                                                </h6>
                                                <p>
                                                    <%= details.address %><br />
                                                        <%= details.city %>, <%= details.state %>
                                                                <%= details.pincode %>
                                                </p>
                                                <p>Mobile: <%= details.mobile %>
                                                </p>
                                                <a class="btn btn-primary btn-hover-dark"
                                                    href="/editAddress?id=<%= details._id %>" id="edit-address-btn"><i
                                                        class="fa fa-edit"></i> Edit Address</a>
                                                <a class="btn btn-danger btn-hover-dark"
                                                    onclick="removeAddress('<%= details._id %>')"
                                                    id="delete-address-btn"><i class="fa fa-trash"></i>Delete
                                                    Address</a>
                                            </div>
                                        </div>
                                        <% }) %>
                                </div>
                            </div>
                            <hr>
                            <!-- Button to trigger add new address modal -->
                            <a href="/Address" class="btn btn-success" id="add-new-address-btn">
                                <i class="fa fa-plus"></i> Add New Address
                            </a>
                        </div>

                        <!-- ACCOUNT DETAILS -->
                        <div class="tab-pane fade" id="pills-account">
                            <div class="my-account-details account-wrapper">
                                <h4 class="account-title">
                                    Account Details
                                </h4>
                                <form id="details_form" class="account-details" onsubmit="return validateForm()">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="single-form">
                                                <label for="userName" style="font-weight: bold;">Name</label>
                                                <input type="text" id="userName" value="<%= userData.name %>"
                                                    name="name" required />
                                            </div>
                                        </div>
                                        <div class="col-md-6" style="display: none;" hidden>
                                            <div class="single-form">
                                                <input type="text" id="last-name" />
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="single-form">
                                                <label for="userMobile" style="font-weight: bold;">Mobile</label>
                                                <input type="text" id="userMobile" value="<%= userData.mobile %>"
                                                    name="phone" required oninput="validatePhoneNumber()" />
                                            </div>
                                        </div>
                                        <div class="col-md-12" style="display: none;" hidden>
                                            <div class="single-form">
                                                <input type="text" id="email" placeholder="Email address" />
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="single-form">
                                                <button type="button" class="btn btn-secondary btn-hover-dark"
                                                    onclick="showPasswordChangeFields()">
                                                    Change Password
                                                </button>
                                            </div>
                                        </div>
                                        <div id="password-change-section" style="display: none;">
                                            <div class="col-md-12">
                                                <div class="single-form">
                                                    <label for="curPassword">Current Password</label>
                                                    <% if (typeof message !=='undefined' ) { %>
                                                        <p class="text-danger">
                                                            <%= message %>
                                                        </p>
                                                        <% } %>
                                                            <div class="password-input">
                                                                <input type="password" id="current-password"
                                                                    placeholder="Current Password"
                                                                    name="currentPassword" />
                                                                <i class="fas fa-eye toggle-password"
                                                                    onclick="togglePasswordVisibility('current-password')"></i>
                                                            </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="single-form">
                                                    <input type="password" id="new-password" placeholder="New Password"
                                                        name="newPassword" />
                                                    <i class="fas fa-eye toggle-password"
                                                        onclick="togglePasswordVisibility('new-password')"></i>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="single-form">
                                                    <input type="password" id="confirm-password"
                                                        placeholder="Confirm Password" name="confirmPassword" />
                                                    <i class="fas fa-eye toggle-password"
                                                        onclick="togglePasswordVisibility('confirm-password')"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="single-form">
                                                <button class="btn btn-primary btn-hover-dark" type="submit">Save
                                                    Changes</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        


                        <!-- COUPON DETAILS -->
                        <div class="tab-pane fade" id="pills-coupons">
                            <div class="my-account-coupons account-wrapper">
                                <h4 class="account-title">Coupons</h4>
                                <div class="row">
                                    <% coupons.forEach(coupon=> { %>
                                        <div class="col-md-6 col-lg-4 mb-3">
                                            <div class="card account-coupon" id="coupon-<%= coupon._id %>">
                                                <div class="card-body">
                                                    <h5 class="card-title coupon-title">
                                                        <%= coupon.name %>
                                                    </h5>
                                                    <p class="card-text">Code: <%= coupon.couponCode %>
                                                    </p>
                                                    <p class="card-text">Discount: <%= coupon.amount %>
                                                    </p>
                                                    <p class="card-text">Expires: <%= new
                                                            Date(coupon.expires).toLocaleDateString() %>
                                                    </p>
                                                    <p class="card-text">
                                                        Status:
                                                        <% if (coupon.status==true) { %>
                                                            <span class="badge bg-warning">not available</span>
                                                            <% } else { %>
                                                                <% if (coupon.used) { %>
                                                                    <span class="badge bg-danger">Claimed</span>
                                                                    <% } else { %>
                                                                        <span class="badge bg-success">Coupon
                                                                            available</span>
                                                                        <% } %>
                                                                            <% } %>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <% }) %>
                                </div>
                            </div>
                        </div>

                        <!-- REFFEREL DETAILS -->
                        
                            <div id="pill-refferel" class="tab-pane fade">
                                <div class="container">
                                    <h3>Referral Program</h3>
                                    <p>Invite your friends and earn rewards!</p>
                                    <div id="refferelDiv">
                                    <a href="" onclick="getRefferl(event)"  class="clickable-div" style="display: block; padding: 15px; border: 1px solid #ccc; border-radius: 5px; text-align: center; text-decoration: none; color: inherit;">
                                        <h5>Click here to learn more about our Referral Program!</h5>
                                    </a>
                                </div>
                                </div>
                            </div>
                        
                        



                    </div>
                    <!-- Tab content End -->
                </div>
            </div>
        </div>
    </div>
    <!-- My Account Section End -->




    <!-- Footer Section Start -->
    <div class="section footer-section">
        <!-- Footer Top Start -->

        <!-- Footer Top End -->

        <!-- Footer Widget Section Start -->
        <div class="footer-widget-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <!-- Footer Widget Start -->
                        <div class="footer-widget">
                            <h4 class="footer-widget-title">Customer Service</h4>

                            <ul class="footer-link">
                                <li><a href="#">Payment Methods</a></li>
                                <li><a href="#">Money-back guarantee!</a></li>
                                <li><a href="#">Returns-Shipping</a></li>
                                <li><a href="#">Terms and conditions</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul>
                        </div>
                        <!-- Footer Widget End -->
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6">
                        <!-- Footer Widget Start -->
                        <div class="footer-widget">
                            <h4 class="footer-widget-title">Information</h4>

                            <ul class="footer-link">
                                <li><a href="about.html">About Furbar</a></li>
                                <li>
                                    <a href="shop-grid-4-column.html">How to Shop</a>
                                </li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="contact.html">Contact us</a></li>
                                <li><a href="login.html">Log in</a></li>
                            </ul>
                        </div>
                        <!-- Footer Widget End -->
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6">
                        <!-- Footer Widget Start -->
                        <div class="footer-widget">
                            <h4 class="footer-widget-title">My Account</h4>

                            <ul class="footer-link">
                                <li><a href="register.html">Sign In</a></li>
                                <li><a href="cart.html">View Cart</a></li>
                                <li><a href="wishlist.html">My Wishlist</a></li>
                                <li><a href="#">Track My Order</a></li>
                                <li><a href="#">Help</a></li>
                            </ul>
                        </div>
                        <!-- Footer Widget End -->
                    </div>
                    <div class="col-lg-2 col-md-5 col-sm-6">
                        <!-- Footer Widget Start -->
                        <div class="footer-widget">
                            <h4 class="footer-widget-title">Our Stores</h4>

                            <ul class="footer-link">
                                <li><a href="#">New aYork</a></li>
                                <li><a href="#">London SF</a></li>
                                <li><a href="#">Cockfosters BP</a></li>
                                <li><a href="#">Los Angeles</a></li>
                                <li><a href="#">Chicago</a></li>
                            </ul>
                        </div>
                        <!-- Footer Widget End -->
                    </div>
                    <div class="col-lg-3 col-md-7">
                        <!-- Footer Widget Start -->
                        <div class="footer-widget">
                            <h4 class="footer-widget-title">About Us</h4>

                            <div class="widget-about">
                                <p>
                                    Lorem ipsum dolor sit amet consect adipisicing
                                    elit sed do eiusmod temp incididunt ut labore et
                                    dolore magna aliqua. Ut enim ad minim
                                </p>
                            </div>
                            <div class="widget-social">
                                <ul>
                                    <li>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-tumblr"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-instagram"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Footer Widget End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Widget End -->

        <!--Back To Start-->
        <button id="backBtn" class="back-to-top"><i class="pe-7s-angle-up"></i></button>
        <!--Back To End-->
        <!-- JS
    ============================================ -->

        <!-- Modernizer & jQuery JS -->
        <script src="/account/assets/js/vendor/modernizr-3.11.2.min.js"></script>
        <script src="/account/assets/js/vendor/jquery-3.5.1.min.js"></script>

        <!-- Bootstrap JS -->
        <script src="/account/assets/js/plugins/popper.min.js"></script>
        <script src="/account/assets/js/plugins/bootstrap.min.js"></script>

        <!-- Plugins JS -->
        <script src="/account/assets/js/plugins/swiper-bundle.min.js"></script>
        <script src="/account/assets/js/plugins/ajax-contact.js"></script>
        <script src="/account/assets/js/plugins/odometer.min.js"></script>
        <script src="/account/assets/js/plugins/select2.min.js"></script>
        <script src="/account/assets/js/plugins/ion.rangeSlider.min.js"></script>
        <script src="/account/assets/js/plugins/jquery.zoom.min.js"></script>


        <!-- Main JS -->
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="/account/assets/js/main.js"></script>

</body>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    document.getElementById('details_form').addEventListener('submit', function (event) {
        event.preventDefault();
        if (validateForm()) {
            Swal.fire({
                title: 'Do you want to change?',
                showCancelButton: true,
                confirmButtonText: 'Yes, change it!',
                icon: 'warning'
            }).then((result) => {
                if (result.isConfirmed) {
                    detailsChange();
                }
            });
        }
    });

    function detailsChange() {
        const name = document.getElementById('userName').value;
        const mobile = document.getElementById('userMobile').value;
        const curPassword = document.getElementById('current-password').value;
        const newPassword = document.getElementById('new-password').value;
        const confirmPassword = document.getElementById('confirm-password').value;

        const formData = new FormData();
        formData.append('name', name);
        formData.append('mobile', mobile);
        if (curPassword && newPassword && confirmPassword) {
            formData.append('curPassword', curPassword);
            formData.append('newPassword', newPassword);
            formData.append('confirmPassword', confirmPassword);
        }

        axios.post('/detailsChange', formData, {
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(response => {
                if (response.data.success) {
                    Swal.fire('Changed successfully', '', 'success').then(() => {
                        window.location.reload();
                    });
                } else {
                    Swal.fire('Error', response.data.message || 'Something went wrong', 'error');
                }
            })
            .catch(error => {
                console.log(error);
                Swal.fire('Error', 'Something went wrong', 'error');
            });
    }

    function validatePhoneNumber() {
        const phoneInput = document.getElementById("userMobile");
        phoneInput.value = phoneInput.value.replace(/[^0-9]/g, '');
    }

    function validateForm() {
        const phone = document.getElementById("userMobile").value;
        const newPassword = document.getElementById("new-password").value;
        const confirmPassword = document.getElementById("confirm-password").value;
        const phonePattern = /^[0-9]{10}$/;
        const passwordPattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;

        if (!phonePattern.test(phone)) {
            Swal.fire('Invalid phone number', 'Please enter a valid 10-digit phone number.', 'warning');
            return false;
        }

        if (newPassword || confirmPassword) {
            if (!passwordPattern.test(newPassword)) {
                Swal.fire('Weak password', 'New Password must contain at least one uppercase letter, one lowercase letter, one number, and one special character.', 'warning');
                return false;
            }

            if (newPassword !== confirmPassword) {
                Swal.fire('Password mismatch', 'New Password and Confirm Password do not match.', 'warning');
                return false;
            }
        }

        return true;
    }

    function togglePasswordVisibility(id) {
        const passwordField = document.getElementById(id);
        const icon = passwordField.nextElementSibling;
        if (passwordField.type === "password") {
            passwordField.type = "text";
            icon.classList.remove("fa-eye");
            icon.classList.add("fa-eye-slash");
        } else {
            passwordField.type = "password";
            icon.classList.remove("fa-eye-slash");
            icon.classList.add("fa-eye");
        }
    }

    function showPasswordChangeFields() {
        document.getElementById('password-change-section').style.display = 'block';
    }

</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Show modal when Add New Address button is clicked
        document.getElementById('add-new-address-btn').addEventListener('click', function () {
            document.getElementById('addAddressModal').classList.add('show'); // or use your preferred method to display the modal
        });

        // Handle close button click in modal
        document.getElementById('addAddressModal').addEventListener('hidden.bs.modal', function () {
            document.getElementById('addAddressForm').reset();
        });

        // Handle save button click in modal
        document.getElementById('saveAddressBtn').addEventListener('click', function () {

            // console.log("hai")
            // Prepare data to send to backend
            var formData = {
                username: document.getElementById('username').value,
                email: document.getElementById('email').value,
                address: document.getElementById('newAddress').value,
                mobile: document.getElementById('mobile').value,
                pincode: document.getElementById('pincode').value,
                state: document.getElementById('state').value,
                city: document.getElementById('city').value
            };

            // Send data to backend route 'addAddress' (replace with actual URL)
            fetch('/addAddress', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(formData),
            })
                .then(response => {
                    // if (!response.ok) {
                    //     throw new Error('Network response was not ok');
                    // }
                    return response.json();
                })
                .then(data => {
                    // Handle success response from backend
                    console.log('Address added successfully:', data);
                    // Close the modal
                    document.getElementById('addAddressModal').classList.remove('show'); // or use your preferred method to hide the modal
                    // Optionally, update UI or show a success message
                    alert('Address added successfully!');
                })
                .catch(error => {
                    // Handle error response or network error
                    console.error('Error adding address:', error);
                    // Optionally, show an error message
                    alert('Failed to add address. Please try again.');
                });
        });

        // Handle edit address button click (dummy action for demonstration)
        document.getElementById('edit-address-btn').addEventListener('click', function () {
            // Replace with actual edit functionality
            alert('Edit address functionality would go here');
        });
    });



    //DELETE ADDRESS
    function removeAddress(detailsId) {
        // Show SweetAlert confirmation dialog
        Swal.fire({
            title: 'Are you sure?',
            text: 'You are about to delete this address. This action cannot be undone.',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                // User confirmed, proceed with delete
                fetch('/removeAddress', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ detailsId: detailsId })
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            // Remove the address element from the DOM
                            const addressElement = document.getElementById(`address-${detailsId}`);
                            if (addressElement) {
                                addressElement.remove();
                                // Show success message if needed
                                Swal.fire('Deleted!', 'The address has been deleted.', 'success');
                            } else {
                                Swal.fire('Error!', 'Failed to find address element.', 'error');
                            }
                        } else {
                            Swal.fire('Error!', 'Failed to delete address.', 'error');
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        Swal.fire('Error!', 'An error occurred while deleting the address.', 'error');
                    });
            }
        });
    }




    function getRefferl(event){
        event.preventDefault()
        fetch('/refferlLink' , {
            method: 'GET',
            headers:{
                'Content-Type' : 'application/json'
            }
        })
        .then(response => {
            if(!response.ok){
                throw new Error('Network response was not okey')
            }
            return response.json()
        })
        .then(data => {

            const divContent = document.getElementById('refferelDiv')

            let exampleDiv = ''

            exampleDiv += 
            ` <div id="refferelDiv">
                                    <a href="" onclick="getRefferl(event)"  class="clickable-div" style="display: block; padding: 15px; border: 1px solid #ccc; border-radius: 5px; text-align: center; text-decoration: none; color: inherit;">
                                        <h5>${data.refferelLink}</h5>
                                    </a>
                                </div>`

            divContent.innerHTML = exampleDiv;
        })
        .catch(error => {
            console.log(error)
        })
    }
</script>

</html>